body {
    background-color: #fff;
    color: #555;
    font-family: "Helvetica", "Arial", sans-serif;
    max-width: 80%;
    margin: 0 auto;
}

a, a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: rgb(77, 154, 216);
    text-decoration: underline;
}

.content {
    background-color: #fff;
    margin: 20px 0;
}

.small-screen-only {
    display: none;
}

.directory a {
    font-weight: bold;
}

.file img, .directory img {
    padding-right: 10px;
    height: 24px;
    margin-bottom: -5px;
}

.path {
    font-size: 35px;
    font-weight: bold;
    padding-left: 10px;
    margin: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    border-radius: 11px;
    border: 2px solid #ddd;
}

td {
    word-wrap: break-word;
    vertical-align: middle;
    padding: 12px;
}

td, th {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #ddd;
}

.cinema {
    font-size: 20px;
}

@media only screen and (max-width: 560px), (min-device-width: 300px) and (max-device-width: 1024px) {
    body {
        max-width: 95%;
        font-size: 1.5em;
    }

    table img {
        height: 35px;
    }

    .size, .mtime {
        display: none;
    }

    .small-screen-only {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 80%;
        padding-top: 5px;
        font-style: italic;
    }

}